.AboutUs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
  }
  
  .AboutUs-content,
  .AboutUs-image {
    width: 100%;
  }


  .AboutUs-content {
    order: 1;
  }

  .AboutUs-content h1 {
    font-size: 24px;
   line-height: 1.4;
   margin-bottom: 20px;
  }

  .AboutUs-content p {
    font-size: 16px;
    margin-bottom: 1rem;
   }
   
  .AboutUs-image {
    order: 2;
    width: 100%;
    margin-bottom: 20px;
  }

  .AboutUs-image img {
    width: 100%;
    height: auto;
  }

@media (min-width: 968px) {

    .AboutUs {
        width: 80%;
        max-width: 1200px; 
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        gap: 4rem;
        margin-top: 4rem;
      }
    
      .AboutUs-content {
        flex: 1;
        margin-right: 20px;
        
      }

      .AboutUs-content h1 {
        font-size: 36px;
        margin-bottom: 20px;
        
      }

      .AboutUs-content p {
        font-size: 18px;
        font-weight: 400;
        max-width: 470px;
        line-height: 1.6;
      }
    
      .AboutUs-image {
        
        flex: 1;
        max-width: 400px;
      }
    
      .AboutUs-image img {
        width: 100%;
        height: auto;
      }
    
      

}