.about-us-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}


.about-us-card2-content {
    margin-top: 0.9rem;
}

.about-us-card2-content h2 {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.38;
    font-family: sans-serif;
}

.about-us-card2-content p {
    margin-top: 0.8rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.77;
}


@media (min-width: 968px) {
    .about-us-card2 {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 4rem;
        max-width: 1200px;
    }

    .about-us-card2-content {
        margin-top: 0;
        max-width: 555px;
    }

    .our-mission-img {
        height: 370px;
    }

    .our-mission-img-container,
    .about-us-card1-content {
        flex: 1;
    }

    .our-mission-img-card2 {
        margin-left: auto;
    }

   
}