.main-service-section {
    margin-top: 2.5rem;
}

.service-box-content {
    margin: 0 auto;
    padding: 1rem 0.9rem;
}

.service-box1 {
    background: linear-gradient(180deg, #f2f5fd 0%, #e3eafc 100%);
    
}

.service-box2 {
    background: linear-gradient(180deg, #ecfbf9 0%, rgba(229, 252, 222, 1) 100%);
    margin-top: 1.5rem;
}

.service-box-content h2{
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.38;
    font-family: sans-serif;
}

.service-box-content p{
    margin-top: 0.8rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.77;
}

@media (min-width: 768px) { 

    .main-service-section {
        width: 75%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .service-container {
        display: flex;
        gap: 5rem;
    }

    .service-box-content {
        border-radius: 16px;
    }

    .service-box2 { 
        margin-top: 0;
    }

    .service-box-content h2{
        font-size: 1.625rem;
        font-weight: 600;
        line-height: 1.38;
        font-family: sans-serif;
    }
    
    .service-box-content p{
        margin-top: 0.8rem;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.77;
    }

}