body{
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

.App {
    height: 100vh;
}



  /* 
       for mobile screens 
       width: 80%

        for laptop screens 


        width: 80%;
        max-width: 1056px;
  */


  /* linear-gradient(180deg, #f2f5fd 0%, #e3eafc 100%); */

  /* linear-gradient(180deg, #ecfbf9 0%, rgba(229, 252, 222, 1) 100%); */