body{
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

.App {
    height: 100vh;
}


/* sitemap styling */


.sitemap-container {
  padding: 20px 2rem;
  font-family: Arial, sans-serif;
  color: #002540;
}

.sitemap-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #002540;
}

.sitemap-list {
  padding: 0;
  list-style-position: outside;
  
}

.sitemap-list li {
  margin-bottom: 15px;
  list-style-type: disclosure-closed;
  padding-left: 5px;
}

.sitemap-link {
  font-size: 18px;
  color: #007BFF;
  text-decoration: none;
}

.sitemap-link:hover {
  text-decoration: underline;
}

.sitemap-link:active,
.sitemap-link-active {
  font-weight: bold;
  color: #0056b3;
}

.sitemap-description {
  margin: 5px 0 0 10px;
  font-size: 14px;
  color: #4A4A4A;
}

  /* 
       for mobile screens 
       width: 80%

        for laptop screens 


        width: 80%;
        max-width: 1056px;
  */


  /* linear-gradient(180deg, #f2f5fd 0%, #e3eafc 100%); */

  /* linear-gradient(180deg, #ecfbf9 0%, rgba(229, 252, 222, 1) 100%); */