.service-section-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.service-section-container .circle-section:last-child {
    margin-bottom: 2rem;
}


.circle-section {
    vertical-align: top;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(145deg, #e6e6e6, #ffffff); /* Light gradient for 3D effect */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
                -5px -5px 10px rgba(255, 255, 255, 0.5); /* Inner highlight for 3D pop */
    border: 5px solid #ccc; 
    border: none;
}

.circle-section img {
    display: block;
    margin: 15px auto 15px;
}


.circle-section h4.circle-section-title {
    margin: 6px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.circle-section div.circle-section-content {
    padding: 0 13px;
    font-size: 12px;
    max-width: 174px;
    color: #404040;
}


@media (min-width: 768px) { 

    .service-section-container {
        width: 80%;
        max-width: 1200px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 4rem;
        border: 2px solid red;
    }

    .service-section-container .circle-section:last-child {
        margin-bottom: 0;
    }
}